* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  max-width: 100%;
}

/* Menu */

.menu {
  display: flex;
  padding: 20px;
  height: 20px;
  background: #f5f5f5;
  justify-content: flex-end;
}

.menuLogo {
  margin-right: auto;
  object-fit: cover;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

/* Top section */

.topsection {
  min-height: 700px;
  background: url(https://via.placeholder.com/150);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topsection-div {
  max-width: 600px;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

.topsection-p {
  font-size: 17px;
  font-weight: bold;
}

/* Section header */

.firsth2 {
  text-align: center;
  margin-top: 0;
  font-size: 48px;
}

/* Articles */

.articlesection {
  background: #f8f8f8;
  padding-top: 90px;
  padding-bottom: 90px;
}

.firstarticle,
.secondarticle,
.thirdarticle {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
}

.article-img1,
.article-img2,
.article-img3 {
  max-width: 50%;
}

.firsth3,
.secondh3,
.thirdh3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.firstarticle-div,
.secondarticle-div,
.thirdarticle-div {
  max-width: 50%;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

/* Picture section */

.lasth3 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}

.picturessection-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.lastpictures {
  margin: 20px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  height: 200px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLogo {
  margin-bottom: 40px;
  background-size: cover;
}

/* @media (max-width: 500px)?? (min-width: 500px)?? {

} */
