* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

main {
  max-width: 100%;
}

/* Menu */

.menu {
  display: flex;
  padding: 20px;
  height: 70px;
  background: #f5f5f5;
  justify-content: flex-end;
  align-items: center;
}

.menuLogo {
  margin-right: auto;
  object-fit: cover;
  max-width: 157px;
  max-height: 30px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-flow: row;
}

a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin-right: 15px;
}

/* Top section */

.topsection {
  min-height: 465px;
  min-width: 375px;
  max-height: 800px;
  max-width: 100%;
  background-image: url("images/palmtrees.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.topsection-div {
  max-width: 40%;
}

h1 {
  font-size: 52px;
  font-weight: bold;
}

.topsection-p {
  font-size: 17px;
  font-weight: bold;
}

/* Section header */

.firsth2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

/* Articles */

.articlesection {
  background: #f8f8f8;
  padding-top: 85px;
  padding-bottom: 98px;
  max-width: 100%;
}

.firstarticle,
.secondarticle,
.thirdarticle {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  padding: 0 10%;
  margin-top: 58px;
  flex-wrap: wrap-reverse;
}

.secondarticle {
  flex-wrap: wrap;
}

.articleImg {
  max-width: 555px;
  min-width: 335px;
  max-height: 360px;
  min-height: 217px;
  object-fit: cover;
}

.firsth3,
.secondh3,
.thirdh3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.firstarticle-div,
.secondarticle-div,
.thirdarticle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  max-width: 40%;
  min-height: 350px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

/* PICTURE SECTION */

.lasth3 {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 31px;
}

.picturessection-div {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
  justify-content: center;
}

.lastpictures {
  margin: 15px;
  max-width: 165px;
  min-width: 99px;
  max-height: 166px;
  min-height: 100px;
  object-fit: cover;
}

/* GRID RECTANGLES

RECTANGLE 1: */

.rectangle1 {
  background: #f8f8f8;
  margin: 0;
  min-height: 553px;
  max-height: 605px;
  display: grid;
  grid-template-columns: 1fr fit-content(440px) 2fr fit-content(542px) 1fr;
  grid-template-rows: repeat(3, 1fr);
}

h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.grid-p {
  font-size: 15px;
}

.h4-p1 {
  display: flex;
  grid-area: 2 / 2;
  flex-direction: column;
  flex-wrap: wrap;
  place-content: center center;
}

.imagesRectangle1 {
  display: grid;
  grid-area: 2 / 4;
  grid-row-gap: 22px;
  grid-column-gap: 31px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 334px));
  grid-template-rows: repeat(auto-fit, minmax(160px, 166px));
  justify-items: stretch;
}

.smallbox1 {
  max-width: 164px;
  max-height: 166px;
  grid-row: 1;
  grid-column: 1;
  object-fit: cover;
}

.smallbox2 {
  max-width: 164px;
  max-height: 166px;
  grid-row: 1;
  grid-column: 2;
  object-fit: cover;
}

.bigbox1 {
  max-width: 360px;
  max-height: 166px;
  grid-row: 2;
  grid-column: 1 / span 2;
  object-fit: cover;
}

.bigbox2 {
  max-width: 164px;
  max-height: 354px;
  grid-row: 1 / span 2;
  grid-column: 3;
  object-fit: cover;
}

/* RECTANGLE 2: */

.rectangle2 {
  background: #ffffff;
  margin: 0;
  min-height: 543px;
  display: grid;
  grid-template-columns: fit-content(621px) 1fr fit-content(505px) 1fr;
}

.bixBoxImg {
  max-height: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: stretch;
}

.textRectangle2 {
  display: flex;
  flex-direction: row;
  grid-column: 3;
  flex-wrap: wrap;
  align-content: center;
}

.secondh4,
.thirdh4 {
  margin-bottom: 22px;
}

.grid-p.p2 {
  margin-bottom: 17px;
}

/* RECTANGLE 3: */

.rectangle3 {
  background: #f8f8f8;
  display: grid;
  grid-row-gap: 25px;
  grid-column-gap: 26px;
  grid-template-columns: 100px repeat(6, auto) 100px;
  grid-template-rows: 129px repeat(3, auto) 129px;
  justify-content: center;
}

.textOnImg {
  max-width: 570px;
  min-width: 296px;
  max-height: 291px;
  min-height: 264px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr repeat(2, auto) 1fr;
  place-self: center center;
  place-content: center center;
  align-items: center;
  z-index: 1;
  margin: -120px;
  grid-area: 2/ 4 / 5 / 6;
}

.forthh4 {
  grid-column: 2;
  grid-row: 2;
}

.grid-p.p4 {
  grid-column: 2;
  grid-row: 3;
}

.img1 {
  max-height: 263px;
  max-width: 195px;
  grid-row: 2 / span 2;
  grid-column: 2;
  object-fit: cover;
  justify-self: stretch;
}

.img2 {
  max-height: 142px;
  max-width: 195px;
  grid-row: 4;
  grid-column: 2;
  object-fit: cover;
}

.img3 {
  max-height: 142px;
  max-width: 195px;
  grid-row: 2;
  grid-column: 3;
  object-fit: cover;
}

.img4 {
  max-height: 263px;
  max-width: 195px;
  grid-row: 3 / span 2;
  grid-column: 3;
  object-fit: cover;
  justify-self: stretch;
}

.img5 {
  max-height: 142px;
  max-width: 195px;
  grid-row: 2;
  grid-column: 6;
  object-fit: cover;
}

.img6 {
  max-height: 263px;
  max-width: 195px;
  grid-row: 3 / span 2;
  grid-column: 6;
  object-fit: cover;
  justify-self: stretch;
}

.img7 {
  max-height: 263px;
  max-width: 195px;
  grid-row: 2 / span 2;
  grid-column: 7;
  object-fit: cover;
  justify-self: stretch;
}

.img8 {
  max-height: 142px;
  max-width: 195px;
  grid-row: 4;
  grid-column: 7;
  object-fit: cover;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  min-height: 248px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerLogo {
  margin-bottom: 40px;
  min-width: 157px;
  min-height: 30px;
  background-size: cover;
}

@media (max-width: 500px) {
  /* MENU */

  .menu {
    flex-direction: column;
    place-content: center center;
    place-items: center center;
  }

  .menuLogo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  a {
    font-size: 14px;
  }

  h1 {
    font-size: 27px;
  }

  /* TOPSECTION */

  .topsection-div {
    max-width: 80%;
  }

  .topsection-p {
    font-size: 16px;
  }

  /* HEADER */

  .firsth2 {
    font-size: 30px;
  }

  /* ARTICLES */

  .firsth3,
  .secondh3,
  .thirdh3 {
    font-size: 25px;
  }

  .firstarticle-div,
  .secondarticle-div,
  .thirdarticle-div {
    max-width: 80%;
    font-size: 14px;
  }

  /* GRID RECTANGLES
  RECTANGLE 1: */

  .rectangle1 {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-items: center center;
  }

  h4 {
    font-size: 18px;
  }

  .grid-p {
    font-size: 14px;
  }

  .h4-p1 {
    place-self: center;
  }

  .imagesRectangle1 {
    margin: 0 20px;
  }

  /* RECTANGLE 2: */

  .rectangle2 {
    display: flex;
    flex-direction: column-reverse;
    place-content: center center;
    place-items: center center;
  }

  /* RECTANGLE 3: */

  .rectangle3 {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-items: center center;
  }

  .textOnImg {
    display: flex;
    flex-direction: column;
    place-content: center center;
    place-items: center center;
  }

  /* ERASED PICTURES */

  .img1,
  .img4,
  .img6,
  .img7,
  .bigbox2 {
    display: none;
  }

  /* FOOTER */

  .footer {
    min-height: 149px;
  }
}
