@import "./variables/variables";
@import "./mixins/mixins";

.rectangle2 {
  background: $darkBackground;
  margin: 0;
  min-height: 548px;
  display: flex;
  flex-direction: column-reverse;
  place-items: center center;
  gap: 5em;

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.bixBoxImg {
  min-height: 100%;
  height: 100%;
  width: 100%;
  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.textRectangle2 {
  display: block;
  align-content: center;
  padding: 43px 20px 0 20px;

  @media (min-width: 500px) {
    padding: 118px 117px 118px 123px;
  }
}

.secondh4,
.thirdh4 {
  @include h4();
  color: $lightFont;
}

.grid-p.p2 {
  @include grid-p();
  color: #fafafa;
  margin-bottom: 17px;
}

.grid-p.p3 {
  @include grid-p();
  color: #fafafa;
}
