@import "./variables/variables";
@import "./mixins/mixins";

.rectangle1 {
  display: flex;
  flex-direction: column;
  place-content: center center;
  place-items: center center;
  background: $lightBackground;
  margin-bottom: 30px;
  min-height: 553px;
  max-height: 605px;
  transition: linear 300ms;

  @media (min-width: 950px) {
    display: grid;
    grid-template-columns: 1fr fit-content(440px) 2fr fit-content(542px) 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

h4 {
  @include h4();
}

.grid-p {
  @include grid-p();
}

.h4-p1 {
  display: flex;
  grid-area: 2 / 2;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px 20px 40px 20px;
}

.image-wraper {
  min-height: 337px;
  min-width: 319px;
  display: grid;
  margin: 0 20px;
  grid-row-gap: 15px;
  grid-column-gap: 17px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  transition: linear 300ms;

  @media (min-width: 950px) {
    min-height: 352px;
    min-width: 600px;
    grid-area: 2 / 4;
    grid-row-gap: 23px;
    grid-column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.box {
  @include image-sizing();
}

.smallbox1 {
  grid-row: 1;
  grid-column: 1;
}

.smallbox2 {
  grid-row: 1;
  grid-column: 2;
}

.bigbox1 {
  grid-row: 2;
  grid-column: 1 / span 2;
}

.bigbox2 {
  display: none;
  transition: linear 300ms;

  @media (min-width: 950px) {
    display: block;
    grid-row: 1 / span 2;
    grid-column: 3;
  }
}
