@import "./variables/variables";
@import "./mixins/mixins";

.topsection {
  max-height: 487px;
  max-width: 376px;
  min-height: 487px;
  min-width: 100%;
  background-image: radial-gradient(circle at 50% 0, #394951, #0c202a3f 93%),
    url("/images/imgTopSection.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  transition: linear 300ms;

  @media (min-width: 500px) {
    max-height: 782px;
    max-width: 100%;
    min-height: 487;
    min-width: 376px;
    place-items: unset;
  }

  &__div {
    max-width: 70%;
    text-align: center;
    transition: linear 300ms;

    @media (min-width: 500px) {
      max-width: 40%;
      margin: 160px 0 409px 102px;
    }

    &--p {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.41;
      letter-spacing: 0.59px;
      color: #f0f0f0;
      transition: linear 300ms;

      @media (min-width: 700px) {
        font-size: 25px;
        letter-spacing: 0.92px;
        line-height: 1.04;
      }

      @media (min-width: 600px) {
        font-size: 20px;
        letter-spacing: 0.5px;
        line-height: 1;
      }
    }
  }
}

h1 {
  font-size: 27px;
  font-weight: bold;
  color: $lightFont;
  letter-spacing: 1px;
  transition: linear 300ms;

  @media (min-width: 700px) {
    font-size: 52px;
    letter-spacing: 1.92px;
  }

  @media (min-width: 600px) {
    font-size: 42px;
    letter-spacing: 1.5px;
  }
}
