.topsection {
  max-height: 487px;
  max-width: 376px;
  min-height: 800px;
  min-width: 100%;
  background-image: url("/images/imgTopSection.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: 500px) {
    max-height: 782px;
    max-width: 100%;
    min-height: 487;
    min-width: 376px;
    align-items: flex-start;
  }
}

.topsection-div {
  max-width: 80%;
  text-align: center;

  @media (min-width: 500px) {
    max-width: 40%;
    margin: 160px 0 409px 102px;
  }
}

h1 {
  font-size: 27px;
  font-weight: bold;
  color: $lightFont;
  letter-spacing: 1px;

  @media (min-width: 500px) {
    font-size: 52px;
    letter-spacing: 1.92px;
  }
}

.topsection-p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: 0.59px;
  color: #f0f0f0;

  @media (min-width: 500px) {
    font-size: 25px;
    letter-spacing: 0.92px;
    line-height: 1.04;
  }
}
